*{
	margin:0;
	padding:0;
	border:0;
}
	
body{
	/* background-color:#DDD; */
	background-color:#FFFFFF;
	color:#333;
	font-family:'Nunito', Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:25px;
	text-align:center;
}

a{
	text-decoration:none;
	color:#005C92;
}
	
a:hover{
	color:#000;
}
	
#wrap{
	background:#FFF;
	margin-left:auto;
	margin-right:auto;
	width:850px;
}
	
#header{
	/* background-color:#005C92; */
	background-color:#EEEEEE;
	background-image:url(images/header_back.jpg);
	background-repeat:no-repeat;
	background-position:left;
	color:#000;
	font-family:'Raleway', Verdana, Geneva, sans-serif;
	font-size:18px;
	height:100px;
/*	overflow:hidden;*/
	padding:20px 20px 20px 20px;
	position:relative;
	text-align:center;
/*	text-align:left;*/
	text-shadow:0px 0px 5px #FFF;
	margin-bottom:25px;
}
	
#header h1{
	font-weight:normal;
	font-size:40px;
	padding:15px 0 15px 0;
}
	
#header a{
	color:#FFF;
	text-decoration:none;
}
	
#header a:hover{
	color:#FFF;
	text-decoration:underline;
}
	
#footer{
	/* background-color:#005C92; */
	background-color:#EEEEEE;
	height:30px;
	line-height:30px;
	text-align:center;
	text-shadow:0px 0px 10px #000;
	font-family:'Raleway', Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	overflow:hidden;
	margin-top:14px;
	text-shadow:0px 0px 5px #FFF;
}
	
.container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
	
.container h2{
	font-size:18px;
	padding:7px 0 5px 10px;
	/* border-left:solid 5px #333; */
	/* border-bottom:solid 1px #333; */
	border-bottom:solid 1px #808080;
	margin-top:15px;
	margin-bottom:7px;
}
	
.container p{
	text-indent:1em;
}
	
.container ul{
	list-style-type:disc;
	padding:0 0 0 2em;
}
	
.container ol{
	padding:0 0 0 2em;
}
	

.entry_body{
	padding-left:15px;
}
	
.back{
	text-align:right;
}

blockquote {
	font-style:italic;
	margin:5px 0 5px 1em;
}

blockquote ul li{
	list-style-type:none;
}

.image{
	text-align:center;
	margin:5px 0 5px 0;
}

table {
	border-spacing: 15px 0px;
	border-collapse:separate;
	margin:auto;
}

th {
	text-align:center;
	vertical-align:center;
}

td {
	text-align:left;
	vertical-align:center;
}

#nav {
  list-style: none;
  overflow: hidden;
}

#nav li {
  width: 120px;
  text-align: center;
  background-color: #EEEEEE;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 20px;
}